<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cucumber">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CucumberTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".LoginActivity">

        </activity>

        <activity android:name=".MainActivity"></activity>

        <activity
            android:name=".RegistrarseActivity"
            android:label="@string/title_activity_registrarse"></activity>
        <activity
            android:name=".MiJardinActivity"
            android:label="@string/title_activity_mi_jardin" />
        <activity
            android:name=".PreferenciasActivity"
            android:label="@string/title_activity_preferencias" />
        <activity
            android:name=".ListadoPlantasActivity"
            android:label="@string/title_activity_plantas" />
        <activity android:name=".DescripcionActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/CucumberTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>